{{>header}}

<body class="couponBody">
<header class="header-coupon">
	兑换优惠券
</header>

<section class="couponForm clearfix">
	<input type="text" placeholder="请输入您的优惠码" class="inp-coupon fl">
	<button class="btn-coupon fr">兑换</button>
</section>

<section class="couponWrap">
	<p class="hasGetCoupon">已领取的优惠券</p>
	<ul class="list-coupon">
		<!-- 
		<li>
			<span class="couponNum">ID:17396822</span>
			<div class="couponInfo">
				<p class="f36 mb5"><span class="bigCouponNum">20</span>元</p>
				<p class="f24 mb10">通用优惠券</p>
			</div>
			<p class="expiryDate">有效期至2105年12月20日</p>	
		</li>
		<li>
			<span class="couponNum">ID:17396822</span>
			<div class="couponInfo">
				<p class="f36 mb5"><span class="bigCouponNum">20</span>元</p>
				<p class="f24 mb10">月卡优惠券</p>
			</div>
			<p class="expiryDate">有效期至2105年12月20日</p>	
		</li>
		<li>
			<span class="couponNum">ID:17396822</span>
			<div class="couponInfo">
				<p class="f36 mb5"><span class="bigCouponNum">20</span>元</p>
				<p class="f24 mb10">年卡优惠券</p>
			</div>
			<p class="expiryDate">有效期至2105年12月20日</p>			
		</li>
		<li>
			<span class="couponNum">ID:17396822</span>
			<div class="couponInfo">
				<p class="f36 mb5"><span class="bigCouponNum">20</span>元</p>
				<p class="f24 mb10">年卡优惠券</p>
			</div>
			<p class="expiryDate">有效期至2105年12月20日</p>	
		</li>
		 -->
	</ul>
</section>

<script src="/js/coupon.min.js"></script>
{{>footer}}