{{>header}}

<body>
<p class="topImgWrap"><img src="/images/order/order_top.jpg" width="100%"></p>

<section class="joinWrapInfo clearfix">
	<p class="joinMember fl"><span class="vm">开通龙健身会员</span> <em class="icon-chose"></em></p>
	<p class="delInfo fr"><span>入会费</span><span class="memberPrice f44">100</span><span>元</span></p>
</section>

<section class="orderInfoWrap">
	<h2 class="orderTit">
		<span class="icon-tit icon-tit3">购买龙健身服务（月基本费<em class="basePrice"></em>元）</span>
	</h2>

	<section class="orderCont">
		<div class="clearfix">
			<div class="orderContLeft fl">
				<span class="vt lh140">购买健身服务</span>
				<section class="selectChoseMonWrap">
					<p>
						<select id="selectChoseMon" class="select-choseMon w266">
							
						</select>月
					</p>
					<p class="discountNumWrap">享受<span class="discountNum">10</span>折优惠</p>
				</section>
			</div>
			<div class="orderContRight fr">
				<span class="moneyNum"></span><span>元/月</span>
			</div>
		</div>
	</section>
</section>

<section class="orderInfoWrap">
	<h2 class="orderTit">
		<span class="icon-tit icon-tit4">权益介绍</span>
	</h2>

	<section class="orderCont orderCont2">
		<p>1. 7*24小时健身体验</p>
		<p>2. 超过30种免费健身课程。</p>
		<p>3. 超过300名健身教练。</p>
		<p>4. 开通后当日即可莅临门店体验龙健身全面服务。</p>
	</section>
</section>

<section class="orderInfoWrap pb100">
	<h2 class="orderTit">
		<span class="icon-tit icon-tit5">使用优惠券</span>
	</h2>

	<section class="orderCont">
		<select id="selectChoseMon2" class="select-choseMon w580">
			<!-- <option value="100">入会费减免券  100元</option>
			<option value="200">入会费减免券  200元</option> -->
		</select>
	</section>
</section>

<footer class="footer-order">
	<div class="priceWrap">
		<span>总价格</span>
		<span class="nowPrice"></span>
		<span>元</span>
		<del class="oPriceWrap">（<span class="oPrice"></span>元）</del>
	</div>
	<button class="submitOrder">购 买</button>
</footer>

<script src="/js/order.min.js"></script>
{{>footer}}