{{>header}}

<body class="personBody">

<section class="timeWrap">
	<ul class="list-time">
		<li>
			<p class="timeTit">周剩余时间</p>
			<p class="timeNum"><span class="bigTimeTxt">{{loginInfo.weekEndHour}}</span>时</p>
		</li>
		<li>
			<p class="timeTit">周活跃时间</p>
			<p class="timeNum"><span class="bigTimeTxt">{{loginInfo.weekUseHour}}</span>时<!-- <span class="bigTimeTxt ml20">30</span>分 --></p>
		</li>
		<li>
			<p class="timeTit">剩余有效期</p>
			<p class="timeNum"><span class="bigTimeTxt">{{loginInfo.serviceEndDays}}</span>天</p>
		</li>
	</ul>
</section>

{{#isEqual isLogin 'login'}}
<section class="hasLoginWrap">
	<section class="headerWrap">
		<div class="headerBg headerBg2">
			<div class="headerImgWrap">
				<img src="{{loginInfo.headimgurl}}" class="headerImg">
				<img src="/images/setting/icon_member.png" class="headerIcon">
			</div>
		</div>
	</section>

	<section class="memInfoWrap">
		<p class="memberNumWrap tc">会员：<span class="memberNum">{{loginInfo.mobilePhone}}</span></p>
		<p class="memberNumWrap tc">有效期：{{loginInfo.serviceExpirTime}}</p>
	</section>
</section>
{{else}}
<section class="noLoginWrap">
	<p>立即加入龙健身</p>
	<p>体验24小时健身服务</p>
	<div class="tc mt100"><button class="btn-login w580">登　录</button></div>
</section>
{{/isEqual}}

<section class="toolBarWrap">
	<p class="toolBar">
		<a href="/order">购买服务</a>
		<a href="/coupon">我的优惠</a>
		<a href="/setting">个人设置</a>
	</p>
</section>

<script src="/js/personHome.min.js"></script>
{{>footer}}